    <div class="block" style="height: 580px;">
     <div class="centered">
	 <br></br>
	 </br>
     <div class="t1"> <%= link_to "Erin Walker", 'http://about.me/erinwalker/' %> </div>
	 <div class="t2"> Creator, MBA, ACMA, CGMA, Champ </div>
	 <div class="t5"> I'm a very passionate and driven entrepreneur that loves new ideas (VC in the making). Also husband, father, kitesurfer, coder and most importantly saved (because of Jesus). 
	 <br></br> I created <%= link_to "My Stork Party", 'http://www.mystorkparty.com/' %> & <%= link_to "Yuppiebaby", 'http://www.yuppiebaby.co.za/' %>. I'm currently working on <%= link_to "Launch Round", 'http://www.launchround.com/' %>. </div> 
	 <t4></t4>
	 <br></br>
	 <div class="t3"> <%= link_to "Blog", 'http://www.ewalkerblog.co.za/' %> - <%= link_to 'Email', href="mailto: ewalker@ewalkerblog.co.za"%> - <%= link_to "Twitter", 'http://www.twitter.com/erinchampwalker' %>
	 - <%= link_to "LinkedIn", 'http://za.linkedin.com/in/erinchampwalker ' %> - <%= link_to "Quora", 'http://www.quora.com/Erin-Walker' %> - <%= link_to "AngelList", 'https://angel.co/ewalker' %></div>
     </div>
	 
	 
	 