    <div class="block" style="height: 580px;">
     <div class="centered">
	 <br></br>
	 </br>
     <div class="t1"> <%= link_to "Erin Walker", 'http://about.me/erinwalker/' %> </div>
	 <div class="t5"> Proud husband & dad and executive director of a large family retail business in South Africa. I'm also a very passionate & driven entrepreneur (MBA, ACMA, CGMA) that LOVES new ideas and helping and mentoring other entrepreneurs via <%= link_to "Launch Round", 'http://www.launchround.com/' %>.	 
					  I also love kitesurfing, coding & flying.
	 <br></br> I created online ventures <%= link_to "My Stork Party", 'http://www.mystorkparty.com/' %> & <%= link_to "Yuppiebaby", 'http://www.yuppiebaby.co.za/' %>. I'm currently working on 				<%= link_to "AirLifte", 'http://www.airlifte.com/' %> . Please contact me if you need any startup advice, have opportunities or just for a chat ;) </div> 
	 <t4></t4>
	 <br></br>
	 <div class="t3"> <%= link_to "Blog", 'http://www.ewalkerblog.co.za/' %> - <%= link_to 'Email', href="mailto: ewalker@ewalkerblog.co.za"%> - <%= link_to "Twitter", 
	                  'http://www.twitter.com/erinchampwalker' %> - <%= link_to "LinkedIn", 'http://za.linkedin.com/in/erinchampwalker ' %> - <%= link_to "Quora",  
					  'http://www.quora.com/Erin-Walker' %> - <%= link_to "AngelList", 'https://angel.co/ewalker' %></div>
    </div>
	 